.FlexContainer{
    padding: 20px;
    margin-top: 50px;
    
}

.CardList{
    overflow-y: scroll;
    display:flex;
    flex-direction: row;
}
.card img{
     height: 300px;
     margin-left: 20px;

}