.Home{
  padding-top: 20px;
  text-align: center;
  height: 100vh;
  color: #fff;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,21,72,1) 35%, rgba(0,212,255,1) 100%);
  
}

.Home button{
  padding: 10px;
  color: #fff;
  width: 200px;
  background-color: transparent;

}